Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
#this is a single line comment in python(doesnt get printed)
print("hello")

hello

In [ ]:
"""
This is a
multi-line comment
in Python
"""
print("world")

world

Q2 . What are variables in Python? How do you declare and assign values to variables?

Variables are used to store data in python.They can create a area in memory and save the particular value there so that it can be referenced later on.In python we do not need to define the type of our variable it is automatically detected

In [ ]:
v1 = 45
print(type(v1))

<class 'int'>

In [ ]:
v2 = "str"
print(type(v2))

<class 'str'>

In [ ]:
v3 = 4.20
print(type(v3))

<class 'float'>

Q3 .How do you convert one data type to another in Python?

In [22]:
x = 5.27
b = "shsh"
z = int(x)
a = list(b)
print(x, type(x))
print(z, type(z)) 
print(a, type(a))

5.27 <class 'float'>
5 <class 'int'>
['s', 'h', 's', 'h'] <class 'list'>

Q4. How do you write and execute a Python script from the command line?

After we save the file in .py extention we can go to the command line and type "python name_of_file.py" in the command line we can execute the script

![hello.png]()
![image.png]()

Q5.Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

A complex number is a number that can be expressed in the form "a + bi", where "a" and "b" are real numbers, and "i" is the imaginary unit defined as the square root of "-1". The real part "a" represents the real numbers, and the imaginary part "b" represents the multiples of the imaginary unit i.

In [3]:
comp_no = 5+4j
print(type(comp_no))

<class 'complex'>

Q7 . What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age = 25
print(age)
print(type(age))

25
<class 'int'>

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [5]:
price  = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name = "Shashwat Reshme"
print(name)
print(type(name))

Shashwat Reshme
<class 'str'>

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
str = "Hello, World!"
print(str[7:12])

World

Q11 . Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student = True
print(is_student)

True