Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str = "shashwat"
print(type(str))

<class 'str'>

In [2]:
ls = [1,2,3,4,5]
print(type(ls))

<class 'list'>

In [3]:
fl = 2.82
print(type(fl))

<class 'float'>

In [4]:
tp = (1,2,3)
print(type(tp))

<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
var1 = ''
print(type(var1))

<class 'str'>

In [12]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [11]:
var3 = [ 'DS' , 'ML' , 'Python' ] 
print(type(var3))

<class 'list'>

In [13]:
var4 = 1.
print(type(var4))

<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
a = 20
b = 4

In [16]:
a/b

5.0

In [17]:
a%b

0

In [18]:
a//b

5

In [19]:
a**b

160000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [21]:
list_of_items = ["shash", 2.85 , [4,5] , True , 56, 'resh', 3.14 , (6,9),24 , 4.5] 
print(len(list_of_items))

10

In [25]:
for i in list_of_items:
   print(f"Element: {i} \t Data Type: {type(i)}")

Element: shash 	 Data Type: <class 'str'>
Element: 2.85 	 Data Type: <class 'float'>
Element: [4, 5] 	 Data Type: <class 'list'>
Element: True 	 Data Type: <class 'bool'>
Element: 56 	 Data Type: <class 'int'>
Element: resh 	 Data Type: <class 'str'>
Element: 3.14 	 Data Type: <class 'float'>
Element: (6, 9) 	 Data Type: <class 'tuple'>
Element: 24 	 Data Type: <class 'int'>
Element: 4.5 	 Data Type: <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [35]:
A = int(input("Enter 1st number "))
B = int(input("Enter 2nd number"))
count = 0
while A % B == 0:
    A = A // B  
    count += 1
print(f"A is divisible by B {count} times.")

Enter 1st number 20
Enter 2nd number4
A is divisible by B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [37]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                  11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
                  21, 22, 23, 24, 25]
for i in list_data :
  if i%3 ==0:
    print(f"{i}is divisible by 3")
  else:
    print(f"{i}is not divisible by 3")

1is not divisible by 3
2is not divisible by 3
3is divisible by 3
4is not divisible by 3
5is not divisible by 3
6is divisible by 3
7is not divisible by 3
8is not divisible by 3
9is divisible by 3
10is not divisible by 3
11is not divisible by 3
12is divisible by 3
13is not divisible by 3
14is not divisible by 3
15is divisible by 3
16is not divisible by 3
17is not divisible by 3
18is divisible by 3
19is not divisible by 3
20is not divisible by 3
21is divisible by 3
22is not divisible by 3
23is not divisible by 3
24is divisible by 3
25is not divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [40]:
a  = "shash"
print(a[3])

s

In [41]:
a[3] = "l" #gives error

TypeError: ignored

In [42]:
li = [ 1,2,3,4,5]
li[2]

3

In [44]:
li[2] = 5
li[2]

5