Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [5]:
data = [4, 8, 15, 16, 23, 42]
ser = pd.Series(data)
type(ser)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
seris = pd.Series(my_list)
seris

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [11]:
details = {'Name' : ['Alice', 'Bob', 'Claire'],
           'Age': [25, 30, 27],
           'Gender' : ['Female', 'Male', 'Female']}

In [14]:
pd.DataFrame(details)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A data frame is the 2 dimensional that can be made with python wheras a seris a one dimensional and is more similar to a list in python.

In [15]:
deta = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Grade': ['A', 'B', 'A']
}

df = pd.DataFrame(deta)
print(df)

     Name  Age Grade
0   Alice   25     A
1     Bob   30     B
2  Claire   27     A

In [16]:
name_series = df['Name']
print(name_series)

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [17]:
# we can use functions like df.head(), df.tail() , describe(),sort_values()
df.head()

     Name  Age Grade
0   Alice   25     A
1     Bob   30     B
2  Claire   27     A

In [ ]:
df.tail() #describes the last 5 values from the data set

In [25]:
df.sort_values(by = 'Age')

     Name  Age Grade
0   Alice   25     A
2  Claire   27     A
1     Bob   30     B

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A panel is the data structure that is immutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
names = pd.Series(['Shashwat', 'Tan', 'Melb'])

In [27]:
sub = pd.Series(['mis','Mba',"mdad"])

In [28]:
grades = pd.Series(['A', 'B', 'A'])

In [32]:
data1 = {'Name': names,'sub':sub ,'grades': grades}
df = pd.DataFrame(data1)
df

       Name   sub grades
0  Shashwat   mis      A
1       Tan   Mba      B
2      Melb  mdad      A